.homepage {
    position: relative;
    height: 800px;
    background-image:
        url('/images/homepage.png');
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0), #242424);
    /* your gradient here */
    margin-bottom: 1400px;
}

.homepage-container {
    position: relative;
    height: 750px;
    /* background-color: pink; */
    /* overflow-x: clip; */
    /* Hide horizontal scrollbar */
}

.homepage-banner-img {
    /* position: absolute; */
    left: -25px;
    width: 1500px;
    height: 1000px;
    position: absolute;
    align-items: center;
}

.homepage-about-cosmos {
    position: relative;
    height: 1050px;
    /* background-image:
        url('././assets/curve/wave-haikei.svg'),
        url('././assets/images/astronaut-64.png'),
        url('././assets/images/astronaut-right.png'); */
}

.spacer {
    aspect-ratio: 960/540;
    width: 1670px;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    /* overflow: hidden; */
}

.layer1 {
    position: absolute;
    top: 40px;
    background-image: url('/curve/wave.png');
}

.layer2 {
    position: absolute;
    top: 60px;
    background-image: url('/curve/wave.png');
}

.layer3 {
    position: absolute;
    top: 80px;
    background-image: url('/curve/wave.png');
}

.layer4 {
    position: absolute;
    top: 100px;
    background-image: url('/curve/wave.png');
}

.layer5 {
    position: absolute;
    top: 120px;
    background-image: url('/curve/wave.png');
}

.layer6 {
    position: absolute;
    top: 140px;
    background-image: url('/curve/wave.png');
}

.layer7 {
    position: absolute;
    top: 160px;
    background-image: url('/curve/wave.png');
}

.layer8 {
    position: absolute;
    top: 260px;
    background-image: url('/curve/wave.png');
}

.layer9 {
    position: absolute;
    top: 280px;
    background-image: url('/curve/wave.png');
}

.layer10 {
    position: absolute;
    top: 300px;
    background-image: url('/curve/wave.png');
}

.layer11 {
    position: absolute;
    top: 320px;
    background-image: url('/curve/wave.png');
}

.layer12 {
    position: absolute;
    top: 340px;
    background-image: url('/curve/wave.png');
}

.layer13 {
    position: absolute;
    top: 360px;
    background-image: url('/curve/wave.png');
}

.layer14 {
    position: absolute;
    top: 380px;
    background-image: url('/curve/wave.png');
}

.homepage-astro-left {
    position: absolute;
    top: 20px;
    left: 180px;
}

.homepage-astro-right {
    position: absolute;
    top: 180px;
    left: 1200px;
}

.about-card {
    position: relative;
    width: 700px;
    height: auto;
    background-color: #242424;
    border-radius: 30px;
    left: 378px;
    border-style: solid;
    border-width: thin;
    border-color: #505050;
    box-shadow: 0px 0px 100px black;
}

.cosmos-img img {
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: auto;
}

.card-content {
    background-color: #242424;
    padding: 30px 80px 30px 80px;
    border-radius: 0 0 30px 30px;
}

.card-content img {
    position: absolute;
    left: 2000px;
}

.menu-heading {
    text-align: center;
    position: relative;
    top: 325px;
    right: 90px;
    margin-top: 90px;
}

.menu-heading img {
    margin-left: 0px;
}

.menu-heading h2 {
    margin-top: 0;
    margin-left: 200px;
}